body{
    margin: 0px;
    /* user-select: none; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    overflow-x: hidden;
}

section, header{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section:nth-child(2n){
    background-color: #9e9b9b29;
}

section:nth-child(2n+1){
    background-color: white;
}

/* =================================================================== Header Section ========================================================================= */

.text-center{
    text-align: center;
}

.text-justify{
    text-align: justify;
}


.horizontal-list{
    padding-left: 0px;
    margin: 0px;
    list-style: none;
}

.horizontal-list-item{
    display: inline-block;
    margin: 0px 1rem 0px 1rem;
    font-weight: bold;
    font-size: 0.9rem;
}

.horizontal-list-item:hover{
    border-bottom: 0px solid white;
    transition: 0.6s;
}

nav ul li :hover{
    border-bottom: 3.5px solid white;
    /* transition: 0.6s; */
    transition: all 0.6s ease-in-out;

}

nav{
    padding: 1rem;
}

.nav-links{
    color: white;
    text-decoration: none;
}


#header-image{
    height: 70vh;
    width: 100vw;
    /* opacity: 0.8; */
    background-image: url('images/macbook_mouse.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.name-social-plate{
    margin-top: 25vh;
}

#my-name{
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: white;
    font-family: sans-serif;
    margin-bottom: 0.5rem;
    width: auto;
}

.social-icons a{
    font-size: 1.6rem;
    color: white;
}

.social-icons{
    /* font-size: 1.7rem; */
    color: white;
    padding: 0.8rem;
}

.social-icons:hover{
    box-shadow: 1px 1px 10px 2px white;
    transition: 700ms;
}

/*================================================================== About Section  =========================================================*/

#about{
    position: relative;
}

#dp-container{
    height: 12rem;
    width: 12rem;
    margin: auto;
    margin-top: -13vh;
}

.dp{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    /* box-shadow: 1px 1px 10px 2px white; */
}

.dp:hover{
    cursor: pointer;
}

#about-text{
    padding: 1rem;
    width: 70%;
    text-align: justify;
    color: grey;
    line-height: 28px;
    font-size: 1.1rem;
    margin: auto;
}

#download-button{
    background-color: crimson;
    color: white;
    font-size: large;
    font-weight: bolder;
    padding: 1rem 2rem;
    border-radius: 6px;
    border: 2px solid crimson;
    /* margin: auto; */
    text-align: center;
}

#resume{
    text-align: center;
}

button {
    transition: 0.7s;
}

#download-button:hover{
    cursor: pointer;
    background-color: white;
    color: crimson;
    border: 2px solid crimson;

}

.parallax{
    /* background-image: url('images/computer\ bg.jpeg'); */
    /* margin-left: 10%;
    margin-right: 10%; */
    /* cursor: pointer;
    height: 60vh; */
    
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
/*=========================================================== Skills Section ======================================================================= */

.skills-container{
    width: 50%;
    /* background-color: aqua; */
    /* border:2px solid #059862; */
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: space-between;
}

.skill-progress{
    background-color: gainsboro;
    border-radius: 0.8rem;
    /* border: 2px solid black; */
    width: 200px;
    font-size: 1rem;
    height: auto;
    font-weight: bolder;
    margin: 1rem;
}

.skill-progress>div{
    border-top-left-radius: 0.7rem;
    border-bottom-left-radius: 0.7rem;
}

.skill-name span{
    color: white;
    margin-left: 1rem;
}



/* ============== Percentage Classes ================== */

.eighty-five-percent{
    width: 85%;
    height: inherit;
}

.eighty-percent{
    width: 80%;
    height: inherit;
}

.seventy-five-percent{
    width: 75%;
    height: inherit;
}
.seventy-percent{
    width: 70%;
    height: inherit;
}

.fourty-five-percent{
    width: 45%;
    height: inherit;
}

.sixty-percent{
    width: 60%;
    height: inherit;
}
.sixty-five-percent{
    width: 65%;
    height: inherit;
}



/* ====================== Colour classes ================================= */


.bg-blue{
    background-color: #2857a4;
}

.bg-orange{
    background-color: #ec4d1c;
}

.bg-light-purple{
    background-color: #93738c;
}

.bg-teal{
    background-color: teal;
}

/*=========================================================== Education Section =============================================================== */



.timeline-container{
    position: relative;
    width: 100%; 
    /* border: 2px solid black; */
}

.timeline-box{
    position: relative;
    margin: 5px;
    width: 40%;
    left: 5%;
    min-height: 150px;
    /* border: 2px solid rgb(160, 160, 160); */
}

.timeline-box:nth-child(2n){
    left: 53%;
}

.timeline-divider{
    position: absolute;
    height: 75%;
    width: 0px;
    border: 2px dashed #2858a49e;
    left: 50%;
    top: 10%;
}

.timeline-traveller{
    position: sticky;
    /* position: fixed; */
    top: 30%;
    font-size: xx-large;
    transform: rotate(90deg);
    color: #225dbc;
    

}

.education-block{
    display: inline-block;
    flex-direction: row;
    flex-wrap: wrap;
}

.institute-logo1,
.institute-logo2,
.institute-logo3{
    /* position: absolute; */
    float: left;
    background-size: contain;
    padding: 1.5rem;
    background-repeat: no-repeat;
    /* background: fixed; */
}

.institute-logo1{
    background-image: url(images/NITA_logo.png);
    
}

.institute-logo2{
    background-image: url(images/Narayana_College_Logo.png);
    
}

.institute-logo3{
    
    background-image: url(images/SSK\ Logo.jpg);
}

.institute-name{
    /* font-size: 1.4rem; */
    /* float: right; */
    color: #2857a4;
    margin: 0;
    /* float: right; */
}

.degree-name{
    margin: 5px 0 0;
    color: #eb822d;
    font-weight: bold;
    /* font-size: 1.2rem; */
    margin: 0;
    /* float: right; */

}

.degree-duration{
    color: #9e9b9b;
    font-weight: bold;
    color: grey;
    /* font-size: 1rem; */
    margin: 0;
    /* float: right; */

}

.institute-place{
    color: #2857a4;
    font-weight: bold;
    /* font-size: 1rem; */
    margin: 0;
    /* float: right; */
}

.institute-details{
    margin-left: 15px;
    /* text-align: right; */
    font-weight: bold;
}

/* ========================================================== Projects Section  ===============================================================*/



.projects-container{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    /* padding: 0 50px; */
    /* margin-bottom: 20px; */
    justify-content: space-around;
}

.project-box{
    max-width: 45%;
    overflow: hidden;
    margin: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.project-box img{
    width: 100%;
    height: 100%;
}

.project-box:hover{
    box-shadow: 0 0 20px #74ADC8;
    cursor: pointer;
    /* opacity: 0.3; */
    background-color: #80808078;
    color: white;
    transition: all 0.6s ease-in-out;
}




/*=========================================================== PortFolio Section ================================================================  */

.row {
    display: flex;

}
  
.column {
    width: 50%;
}

/*========================================================== Contact Section ===================================================================*/

#contact{
    background-image: repeating-linear-gradient(to bottom right, 	#FF671F, 	#FFFFFF, #046A38);
}

.contact-container{
    display: inline-flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: center;

}

.contact-col{
    width: 45%;
    /* border: 2px solid red ; */
}




.no-label{
    list-style: none;
}

.input{
    border: none;
    font-size: inherit;
    /* backface-visibility: ; */
    width: 100%; 
    background-color: transparent;
}

.input:focus{
    outline: none;
}


.contact-item{
    margin: 2rem;
    border-bottom: 2px solid grey;
}

/* Send Message Button */

.send-message-button{
    font-size: large;
    font-weight: bolder;
    padding: 1rem 2rem;
    border-radius: 6px;
    background-color: white;
    color: #059862;
    border: 2px solid #059862;
}


.send-message-button:hover{
    cursor: pointer;
    background-color: #059862;
    color: white;
    transition: 0.6s;
}





/* =========================================================== Footer ==================================================== */

.font-black{
    color: black;
}

.follow-box{
    display: inline-flex;
    margin: 0;
}

.footer-links{
    margin: 10px;
    padding: 5px;
    /* border-radius: 50%; */
}

.footer-links:hover{
    /* opacity: 0.5; */
    box-shadow: 0 0 20px gold;
    transition: all 0.6s ease-in-out;
}

/* ==================================================== Media Queries ====================================================*/
@media screen and (max-width:800px){
    .project-box{
        /* max-width: 0%; */
        margin:10px;
    }
}

@media screen and (max-width:653px){
    .project-box{
        margin: 0.5rem;
        max-width: 85%;
    }
}


@media screen and (max-width:600px){
    .timeline-divider{
        left: 5%;
    }

    .timeline-box{
        left: 12% !important;
        width: 80%;
    }

    body{
        font-size:  15px !important;
    }

    .contact-container{
        display: block;
    }

    .contact-col{
        width: 100%;
    }

    .project-box{
        margin: 5px;
    }
    
} 



















/* Contact Section */


/* #contact-form {
    margin-left: 15%;
} */

/* #contact-form-container {
    width: 50%;
} */

/* #my-details-container {
    width: 35%;
    margin-left: 15%;
} */
/* 
.my-details-info-container {
    margin-bottom: 20px;
} */

/* .my-details-info-container span {
    margin-left: 0.4rem;
} */


/* #contact{
    padding-top: 1px;
    padding-bottom: 1px;
    position: relative;
    background-color: #9e9b9b29;
} */

/* .contact-text{
    width: 70%;
    color: grey;
    line-height: 28px;
    font-size: 1.1rem;
    margin: auto;
} */

