body{
    margin: 0px;
    user-select: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
}

/* =================================================================== Header Section ========================================================================= */

.text-center{
    text-align: center;
}


.horizontal-list{
    padding-left: 0px;
    margin: 0px;
    list-style: none;
}

.horizontal-list-item{
    display: inline-block;
    margin: 0px 1rem 0px 1rem;
    font-weight: bold;
    font-size: 0.9rem;
}

.nav-links{
    color: white;
    text-decoration: none;
}

#header-image{
    height: 65vh;
    opacity: 0.8;
    background-image: url('images/macbook_mouse.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.name-social-plate{
    margin-top: 25vh;
}

#my-name{
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: white;
    font-family: sans-serif;
    margin-bottom: 0.5rem;
    width: auto;
}

.social-icons a{
    border-radius: 50%;
    font-size: 2rem;
    color: white;
}

.social-icons:hover{
    border-radius: 50%;

}

/* .social-icons a:hover{
    border-radius: 50%;
} */

/*================================================================== About Section  =========================================================*/

#about{
    height: auto;
    width: 100%;
    position: relative;
    margin-bottom: 30px;
}

#dp-container{
    height: 12rem;
    width: 12rem;
    margin: auto;
    margin-top: -16vh;
}

.dp{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 1px 1px 10px 2px white;
}


.dp:hover{
    cursor: pointer;
}

#about-text{
    padding: 1rem;
    width: 70%;
    text-align: justify;
    color: grey;
    line-height: 28px;
    font-size: 1.1rem;
    margin: auto;
}

#download-button{
    background-color: crimson;
    color: white;
    font-size: large;
    font-weight: bolder;
    padding: 1rem 2rem;
    border-radius: 6px;
    border: 2px solid crimson;
    /* margin: auto; */
    text-align: center;
}

#resume{
    text-align: center;
}

button {
    transition-duration: 0.4s;
}

#download-button:hover{
    cursor: pointer;
    background-color: white;
    color: crimson;
    border: 2px solid crimson;

}

/*=========================================================== Skills Section ======================================================================= */

#skills{
    height: auto;
    width: 100%;
    position: relative;
    margin-bottom: 30px;
    background-color: #9e9b9b29;
}

/*=========================================================== Education Section =============================================================== */



/*=========================================================== PortFolio Section ================================================================  */

.row {
    display: flex;
}
  
.column {
    flex: 50%;
}

/*========================================================== Contact Section ===================================================================*/

#contact{
    height: auto;
    width: 100%;
    position: relative;
    background-color: #9e9b9b29;
}

.get-in-touch{
    
}

.contact-text{
    padding: 1rem;
    width: 70%;
    text-align: justify;
    color: grey;
    line-height: 28px;
    font-size: 1.1rem;
    margin: auto;
}