body{
    margin: 0px;
    user-select: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* font-size: 2rem; */
    overflow-x: hidden;
}

section, header{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

section:nth-child(2n){
    background-color: white;
}

section:nth-child(2n+1){
    background-color: #9e9b9b29;;
}

/* =================================================================== Header Section ========================================================================= */

.text-center{
    text-align: center;
}

.text-justify{
    text-align: justify;
}


.horizontal-list{
    padding-left: 0px;
    margin: 0px;
    list-style: none;
}

.horizontal-list-item{
    display: inline-block;
    margin: 0px 1rem 0px 1rem;
    font-weight: bold;
    font-size: 0.9rem;
}

.horizontal-list-item:hover{
    border-bottom: 0px solid white;
    transition: 0.6s;
}

nav ul li :hover{
    border-bottom: 3.5px solid white;
    transition: 0.6s;

}

nav{
    padding: 1rem;
}

.nav-links{
    color: white;
    text-decoration: none;
}


#header-image{
    height: 80vh;
    width: 100vw;
    opacity: 0.8;
    background-image: url('images/macbook_mouse.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.name-social-plate{
    margin-top: 25vh;
}

#my-name{
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: white;
    font-family: sans-serif;
    margin-bottom: 0.5rem;
    width: auto;
}

.social-icons a{
    font-size: 1.7rem;
    color: white;
}

.social-icons{
    font-size: 1.7rem;
    color: white;
    padding: 0.8rem;
}

.social-icons:hover{
    box-shadow: 1px 1px 10px 2px white;
    transition: 700ms;
}

/*================================================================== About Section  =========================================================*/

#about{
    position: relative;
}

#dp-container{
    height: 12rem;
    width: 12rem;
    margin: auto;
    margin-top: -16vh;
}

.dp{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    /* box-shadow: 1px 1px 10px 2px white; */
}

.dp:hover{
    cursor: pointer;
}

#about-text{
    padding: 1rem;
    width: 70%;
    text-align: justify;
    color: grey;
    line-height: 28px;
    font-size: 1.1rem;
    margin: auto;
}

#download-button{
    background-color: crimson;
    color: white;
    font-size: large;
    font-weight: bolder;
    padding: 1rem 2rem;
    border-radius: 6px;
    border: 2px solid crimson;
    /* margin: auto; */
    text-align: center;
}

#resume{
    text-align: center;
}

button {
    transition: 0.7s;
}

#download-button:hover{
    cursor: pointer;
    background-color: white;
    color: crimson;
    border: 2px solid crimson;

}

.parallax{
    background-image: url('images/computer\ bg.jpeg');
    margin-left: 10%;
    margin-right: 10%;
    cursor: pointer;
    height: 60vh;
    
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
/*=========================================================== Skills Section ======================================================================= */

#skills{
    /* padding-top: 1px; */
    /* position: relative; */
    
}

/*=========================================================== Education Section =============================================================== */


/* ========================================================== Projects Section  ===============================================================*/

#projects{
    /* padding-top: 1px; */
    height: auto;
    width: 100%;
    position: relative;
    /* margin-bottom: 30px; */
    /* background-color: #9e9b9b29; */
}


/*=========================================================== PortFolio Section ================================================================  */

.row {
    display: flex;

}
  
.column {
    width: 50%;
}

/*========================================================== Contact Section ===================================================================*/





.no-label{
    list-style: none;
}



/* Contact Section */


#contact-form {
    margin-left: 15%;
}

#contact-form-container {
    width: 50%;
}

#my-details-container {
    width: 35%;
    margin-left: 15%;
}

.my-details-info-container {
    margin-bottom: 20px;
}

.my-details-info-container span {
    margin-left: 0.4rem;
}


#contact{
    padding-top: 1px;
    padding-bottom: 1px;
    position: relative;
    /* background-color: #9e9b9b29; */
}

.contact-text{
    width: 70%;
    color: grey;
    line-height: 28px;
    font-size: 1.1rem;
    margin: auto;
}

.send-message-button{
    font-size: large;
    font-weight: bolder;
    padding: 1rem 2rem;
    border-radius: 6px;
    background-color: white;
    color: #059862;
    border: 2px solid #059862;
}

.send-message-button:hover{
    cursor: pointer;
    background-color: #059862;
    color: white;
}


/* =========================================================== Upper Arrow ==================================================== */


